/* Generic */

.code_default {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	width: 100%;
}

.code_default .code_header {
	font-weight: bold;
}

.selected_line .icon {
	background: url(/static/images/smallbox.jpg) no-repeat 6px 6px;
	padding-right: 5px;
}

.selected_line .p_linum {
	font-weight: bold;
}

.p_linum {
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
}

.code_line {
	width: 100%;
	white-space: pre;
}

.p_classname {
	font-weight: bold;
}

.p_commentblock {
	font-style: italic;
}

.p_commentline {
	font-style: italic;
}

.p_defname {
	font-weight: bold;
}

.p_word {
	font-weight: bold;
}

.code_default.dark {
	background-color: black;
}

.code_default.dark .code_header {
	color: white;
}
